{% extends 'base.html.twig' %}

{% block body %}
  <table id='empTable' class='display dataTable'>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

{% endblock %}
